In [2]:
import sys
sys.path.insert(1, 'bin')

from persistence import sql
import functional as fn
import color as c

# Create command and add child

In [15]:
fn.create_command('debug', 'update set where')
fn.set_child(('debug', 'update set where'),('python','if'),{'block':('select','from')})

# Print all commands

In [ ]:
db = sql('functional')

for i in db.query('SELECT * FROM command'):
    print(c.blue + i['class'] + ':' + i['name'])
    print(c.white + fn.build(i['class'], i['name']))

db.close()

# Create command

In [ ]:
fn.create_command('python','if','''if({{condition}}):
  {{block}}''')

In [4]:
print(fn.build('python','if',{'condition':'true','block':'print("hello world")\nprint'}))

if(true):
  print("hello world")
  print

# Example

In [18]:
obj = {
    'table'   : 'pessoa',
    'field'   : ['id','nome', 'sexo', 'idade'],
    'type'    : ['INT AUTO_INCREMENT', 'VARCHAR(32)', 'CHAR(1)', 'INT'],
    'value'   : ["1","'josh'","'M'","34"]
}

def cat(a, b, separator = ' '):
    return [a[i] + separator + b[i] for i in range(len(a))]

print(fn.build('sql','create', [obj['table'],cat(obj['field'],obj['type'])]))
print(fn.build('sql','insert values', [obj['table'],obj['field'][1::], obj['value'][1::]]))
print(fn.build('sql','select from', [obj['field'],obj['table']]))
print(fn.build('sql','update set where', [obj['table'], cat(obj['field'][1::], obj['value'][1::], ' = '), cat(obj['field'][:1], obj['value'][:1], ' = ')]))

CREATE TABLE
  pessoa
(
  id int,
  nome varchar(32),
  sexo char1(1),
  idade int
)
INSERT INTO
  pessoa
(
  nome,
  sexo,
  idade
)
VALUES
(
  'josh',
  'M',
  34
)
SELECT
  id,
  nome,
  sexo,
  idade
FROM
  pessoa
UPDATE
  pessoa
SET
 nome = 'josh',
 sexo = 'M',
 idade = 34
WHERE
  id = 1