In [1]:
import sys
# insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, 'bin')

from persistence import sql
import functional as fn
import color as c

print(fn.build('myapp sql','insert person'))

if({{0}}):
  SELECT
    {{1}}
FROM
    {{2}}

In [ ]:
fn.create_command('sql', 'left join')
fn.set_child(('sql', 'left join'), ('sql', 'join'),{'type': 'LEFT'})

In [ ]:
fn.create_command('myapp', 'conditional query')
fn.create_command('myapp', 'conditional query')
fn.set_child(('myapp', 'conditional query'), ('python', 'if'),{'condition':'true','block':('sql','select from')})

In [3]:
fn.create_command('myapp', 'conditional query')
fn.set_child(('myapp', 'conditional query'),('python','if'),{'block':('sql','select from')})

In [4]:
print(fn.build('myapp', 'conditional query'))

if({{condition}}):
  SELECT
    {{field}}
FROM
    {{table}}

In [ ]:
db = sql('functional')

for i in db.query('SELECT * FROM command'):
    print(c.blue + i['class'] + ':' + i['name'])
    print(c.white + fn.build(i['class'], i['name']))

db.close()

In [20]:
print(fn.build('sql', 'select from', 
{
    'field': '*',
    'table': 'usuario'
})+
fn.build('sql','left join',{
    'table': 'pessoa',
    'identifier': 'id',
    'subject': 'usuario',
    'alias': 'id_pessoa'
}))

SELECT
    *
FROM
    usuario
LEFT JOIN
    {{1}} ON {{1}}.{{3}} = {{2}}.{{0}}

In [5]:
fn.create_command('python','if','''if({{condition}}):
{{block}}''')

In [2]:
# fn.create_command('myapp sql', 'insert person')
fn.set_child(('myapp sql', 'insert person'),('sql','select from'),{'field':'id,\n,nome,\n,cpf', 'table':'person'})

In [3]:
print(fn.build('sql','select from',{}))

SELECT
    {{field}}
FROM
    {{table}}