In [1]:
from database import sql

In [9]:
db = sql("mg-siga")
data = db.query("SELECT * FROM modulo")
data.head()

                           data
id
1   SELECT {field} FROM {table}